.add-post {
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;

  background-color: $secondary;
  box-shadow: 0 15px 25px rgba(black, 0.45);
  border-radius: 5px;

  &__form {
    display: flex;
    align-items: center;

    &__text {
      display: block;
      align-self: center; //выравнивание элемента при гриде по вертикали
      //width: 80%; //при гриде не нужно
      height: 2.6rem;
      flex-grow: 1; //
      overflow: hidden;

      border: none;
      background: transparent;
      //resize: none;

      font-size: 1.5rem;
      color: $white;
      font-family: inherit;

      &::placeholder {
        color: #d2d2d2;
      }
    }

    &-actions {
      //  width: 20%;  //при гриде не нужно
      flex-shrink: 0;
      width: 12rem;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.add-post__file,
.add-post__send {
  display: block;
  width: 4.4rem;
  height: 4.4rem;

  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.2s linear;

  @include breakpoint($mobile-bp) {
    width: 3.4rem;
    height: 3.4rem;
  }
}
.add-post__file {
  background: #ebebeb url("../images/form_send.svg") center no-repeat;
  //   <!-- кнопка кнопка добавить файл с фотиком -->
  input {
    display: none;
  }

  &:hover {
    background-color: darken(#ebebeb, 5%);
  }
}

.add-post__send {
  margin-left: 1.5rem;
  background-color: blue;
  position: relative;
  background: blue url("../images/form_send2222.svg") 55% 50% no-repeat;

  &:hover {
    background-color: darken(blue, 5%);
    background-size: 40%;
  }
}
